<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="logVolumeCalculateService"
            class="cn.yunsenlin.web.base.service.Impl.VolumeCalculate.LogVolumeCalculateServiceImpl"/>
    <bean id="volumeAutoCalculateService"
            class="cn.yunsenlin.web.base.service.Impl.VolumeAutoCalculateServiceImpl">
        <constructor-arg name="logVolumeCalculateService" ref="logVolumeCalculateService"/>
        <constructor-arg name="woodTypeMapper" ref="woodTypeMapper"/>
    </bean>
    <bean id="woodTypeService"
            class="cn.yunsenlin.web.base.service.Impl.WoodTypeServiceImpl">
        <constructor-arg name="woodTypeMapper" ref="woodTypeMapper"/>
    </bean>
    <bean id="aesEncryptionService"
            class="cn.yunsenlin.web.base.service.Impl.EncryptionServiceImpl"/>
    <bean id="tokenService"
            class="cn.yunsenlin.web.base.service.Impl.TokenServiceImpl">
        <constructor-arg ref="aesEncryptionService"/>
    </bean>
    <bean id="userService"
            class="cn.yunsenlin.web.base.service.Impl.UserServiceImpl">
        <constructor-arg name="aesEncryptionService" ref="aesEncryptionService"/>
        <constructor-arg name="userMapper" ref="userMapper"/>
    </bean>
    <bean id="gsonService"
            class="cn.yunsenlin.web.base.service.Impl.GsonServiceImpl"/>
    <bean id="sessionService"
            class="cn.yunsenlin.web.base.service.Impl.SessionServiceImpl">
        <constructor-arg name="gsonService" ref="gsonService"/>
        <constructor-arg name="sessionMapper" ref="sessionMapper"/>
        <constructor-arg name="tokenService" ref="tokenService"/>
    </bean>
</beans>