<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd ">
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                    <props>
                        <prop key="kaptcha.border">no</prop>
                        <prop key="kaptcha.border.color">105,179,90</prop>
                        <prop key="kaptcha.textproducer.font.color">red</prop>
                        <prop key="kaptcha.image.width">250</prop>
                        <prop key="kaptcha.textproducer.font.size">90</prop>
                        <prop key="kaptcha.image.height">90</prop>
                        <prop key="kaptcha.session.key">code</prop>
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <!--Validators-->
    <bean id="logBaseValidator"
            class="cn.yunsenlin.web.base.dto.validator.LogBaseValidator"/>
    <bean class="cn.yunsenlin.web.base.dto.validator.LoginParamValidator"
          id="loginParamValidator"/>
    <bean class="cn.yunsenlin.web.base.dto.validator.LogVolumeCalculateParamValidator"
          id="logVolumeCalculateParamValidator">
        <constructor-arg name="woodTypeService" ref="woodTypeService"/>
    </bean>
    <bean id="unitLogVolumeCalculateParamValidator"
            class="cn.yunsenlin.web.base.dto.validator.UnitLogVolumeCalculateParamValidator">
        <constructor-arg ref="woodTypeService" name="woodTypeService"/>
    </bean>
    <bean id="hasEmailParamValidator"
            class="cn.yunsenlin.web.base.dto.validator.HasEmailParamValidator"/>
    <bean id="hasPhoneParamValidator"
            class="cn.yunsenlin.web.base.dto.validator.HasPhoneParamValidator"/>
    <bean id="sendEmailParamValidator"
            class="cn.yunsenlin.web.base.dto.validator.SendEmailParamValidator"/>
    <bean id="sendPhoneParamValidator"
            class="cn.yunsenlin.web.base.dto.validator.SendPhoneParamValidator"/>
    <bean id="signInParamValidator"
            class="cn.yunsenlin.web.base.dto.validator.SignInParamValidator"/>
    <!--Controller-->
    <bean id="calculateController"
            class="cn.yunsenlin.web.base.controller.CalculateAndroidController">
    </bean>
    <bean class="cn.yunsenlin.web.base.controller.MonitorController">
        <constructor-arg name="sigarService" ref="sigarService"/>
    </bean>
</beans>