<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="log2013LogVolumeCalculateService"
          class="cn.yunsenlin.web.base.service.Impl.VolumeCalculate.Log2013LogVolumeCalculateServiceImpl"/>
    <bean id="log1984LogVolumeCalculateService"
          class="cn.yunsenlin.web.base.service.Impl.VolumeCalculate.Log1984LogVolumeCalculateServiceImpl"/>
    <bean id="boleCenterLogVolumeCalculateService"
          class="cn.yunsenlin.web.base.service.Impl.VolumeCalculate.BoleCenterLogVolumeCalculateServiceImpl"/>
    <bean id="boleLogVolumeCalculateService"
          class="cn.yunsenlin.web.base.service.Impl.VolumeCalculate.BoleLogVolumeCalculateServiceImpl"/>
    <bean id="smallBoleLogVolumeCalculateService"
          class="cn.yunsenlin.web.base.service.Impl.VolumeCalculate.SmallBoleLogVolumeCalculateServiceImpl"/>
    <bean id="timberVolumeCalculateService"
          class="cn.yunsenlin.web.base.service.Impl.VolumeCalculate.TimberVolumeCalculateServiceImpl"/>
    <bean id="rafterLogVolumeCalculateService"
          class="cn.yunsenlin.web.base.service.Impl.VolumeCalculate.RafterLogVolumeCalculateServiceImpl"/>
    <bean id="volumeAutoCalculateService"
            class="cn.yunsenlin.web.base.service.Impl.VolumeAutoCalculateServiceImpl">
        <constructor-arg name="log2013LogVolumeCalculateService" ref="log2013LogVolumeCalculateService"/>
        <constructor-arg name="woodTypeMapper" ref="woodTypeMapper"/>
        <constructor-arg name="timberVolumeCalculateService" ref="timberVolumeCalculateService"/>
        <constructor-arg name="evaluateVolumeCalculateService" ref="evaluateVolumeCalculateService"/>
    </bean>
    <bean id="woodTypeService"
            class="cn.yunsenlin.web.base.service.Impl.WoodTypeServiceImpl">
        <constructor-arg name="woodTypeMapper" ref="woodTypeMapper"/>
    </bean>
    <bean id="evaluateVolumeCalculateService"
            class="cn.yunsenlin.web.base.service.Impl.EvaluateVolumeCalculateServiceImpl"/>
    <bean id="aesEncryptionService"
            class="cn.yunsenlin.web.base.service.Impl.EncryptionServiceImpl"/>
    <bean id="tokenService"
            class="cn.yunsenlin.web.base.service.Impl.TokenServiceImpl">
        <constructor-arg ref="aesEncryptionService"/>
    </bean>
    <bean id="userService"
            class="cn.yunsenlin.web.base.service.Impl.UserServiceImpl">
        <constructor-arg name="aesEncryptionService" ref="aesEncryptionService"/>
        <constructor-arg name="userMapper" ref="userMapper"/>
    </bean>
    <bean id="gsonService"
            class="cn.yunsenlin.web.base.service.Impl.GsonServiceImpl"/>
    <bean id="sessionService"
            class="cn.yunsenlin.web.base.service.Impl.SessionServiceImpl">
        <constructor-arg name="gsonService" ref="gsonService"/>
        <constructor-arg name="sessionMapper" ref="sessionMapper"/>
        <constructor-arg name="tokenService" ref="tokenService"/>
    </bean>
    <bean id="outLetService"
            class="cn.yunsenlin.web.base.service.Impl.OutLetServiceImpl">
        <constructor-arg name="emailSendRecordMapper" ref="emailSendRecordMapper"/>
        <constructor-arg name="encryptionService" ref="aesEncryptionService"/>
        <constructor-arg name="phoneSendRecordMapper" ref="phoneSendRecordMapper"/>
        <constructor-arg name="tokenService" ref="tokenService"/>
    </bean>
</beans>