<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunsenlin.web.base.dao.SessionMapper" >
  <resultMap id="BaseResultMap" type="cn.yunsenlin.web.base.model.Session" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="session" property="session" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR"/>
    <result column="token_create_time" property="tokenCreateTime" jdbcType="TIMESTAMP"/>
    <result column="token_period" property="tokenPeriod" jdbcType="BIGINT"/>
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
      user_id, session,token_create_time,token_period
    from session
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from session
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.yunsenlin.web.base.model.Session" >
    insert into session (user_id, session,token_create_time,token_period)
    values (#{userId,jdbcType=INTEGER},
            #{session,jdbcType=VARCHAR},
            #{tokenCreateTime,jdbcType=TIMESTAMP},
            #{tokenPeriod,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.yunsenlin.web.base.model.Session" >
    insert into session
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="session != null" >
        session,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="tokenCreateTime != null" >
        token_create_time,
      </if>
      <if test="tokenPeriod != null" >
        token_period,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="session != null" >
        #{session,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tokenCreateTime != null" >
        #{tokenCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tokenPeriod != null" >
        #{tokenPeriod,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yunsenlin.web.base.model.Session" >
    update session
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="session != null" >
        session = #{session,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tokenCreateTime != null" >
        token_create_time = #{tokenCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="tokenPeriod != null" >
        token_period = #{tokenPeriod,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yunsenlin.web.base.model.Session" >
    update session
    set user_id = #{userId,jdbcType=INTEGER},
      session = #{session,jdbcType=VARCHAR},
      token_create_time = #{tokenCreateTime,jdbcType=TIMESTAMP},
      token_period = #{tokenPeriod,jdbcType=BIGINT}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>