<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunsenlin.web.base.dao.SmallBoleLogCalculateRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.yunsenlin.web.base.model.SmallBoleLogCalculateRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="length" property="length" jdbcType="DOUBLE" />
    <result column="width" property="width" jdbcType="DOUBLE" />
    <result column="volume" property="volume" jdbcType="DOUBLE" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
      id, length, width, volume
    from small_bole_log_calculate_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from small_bole_log_calculate_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.yunsenlin.web.base.model.SmallBoleLogCalculateRecord" >
    insert into small_bole_log_calculate_record (id, length, width, 
      volume)
    values (#{id,jdbcType=INTEGER}, #{length,jdbcType=DOUBLE}, #{width,jdbcType=DOUBLE}, 
      #{volume,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="cn.yunsenlin.web.base.model.SmallBoleLogCalculateRecord" >
    insert into small_bole_log_calculate_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="volume != null" >
        volume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="length != null" >
        #{length,jdbcType=DOUBLE},
      </if>
      <if test="width != null" >
        #{width,jdbcType=DOUBLE},
      </if>
      <if test="volume != null" >
        #{volume,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yunsenlin.web.base.model.SmallBoleLogCalculateRecord" >
    update small_bole_log_calculate_record
    <set >
      <if test="length != null" >
        length = #{length,jdbcType=DOUBLE},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=DOUBLE},
      </if>
      <if test="volume != null" >
        volume = #{volume,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yunsenlin.web.base.model.SmallBoleLogCalculateRecord" >
    update small_bole_log_calculate_record
    set length = #{length,jdbcType=DOUBLE},
      width = #{width,jdbcType=DOUBLE},
      volume = #{volume,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>